.mainmenu, .game, .lose {
  display: grid;
  align-items: center;
  justify-items: center;
}

.mainmenu-content, .game-content, .lose-content {
  max-width: 500px;
}

.btn {
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.btn:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
}