.mainmenu {
  display: grid;
  align-items: center;
  justify-items: center;
}

.mainmenu-content {
  max-width: 500px;
}

.btn {
  border: 1px solid black;
  padding: 5px;
}

.btn:hover {
  cursor: pointer;
}