body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    color: #bbb;
}

.story-msg {
    font-style: italic;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-menu-list li:hover {
    font-weight: bold;
    cursor: pointer;
}

.screen {
    padding: 0;
    margin: auto;
    display: none;
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    top: 20px;
}

.left-bar {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 200px;
    overflow-y: auto;
    font-size: 12pt;
}

.right-bar {
    position: absolute;
    display: block;
    top: 10px;
    right: 0px;
    bottom: 10px;
    width: 200px;
    overflow-y: auto;
    font-size: 12pt;
}
