body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-bar {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 200px;
    color: grey;
    overflow-y: auto;
    font-size: 12pt;
}

.right-bar {
    position: absolute;
    display: block;
    top: 10px;
    right: 0px;
    bottom: 10px;
    width: 200px;
    color: grey;
    overflow-y: auto;
    font-size: 12pt;
}
