body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    color: #bbb;
    font-size: 12pt;
}

hr {
    border: none;
    color: #777;
    background-color: #777;
    height: 1px;
}

.story-msg {
    font-style: italic;
}

.text-button:hover {
    background-color: #222;
    color: #ddd;
    cursor: pointer;
}

.screen {
    padding: 0;
    margin: auto;
    display: none;
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 20px;
    overflow-y: auto;
}

.left-bar {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 200px;
    overflow-y: auto;
}

.right-bar {
    position: absolute;
    display: block;
    top: 10px;
    right: 0px;
    bottom: 10px;
    width: 200px;
    overflow-y: auto;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.indent {
    padding-left: 20px;    
}

.indent2 {
    padding-left: 35px;    
}
